.container {
    width: 100%;
    margin: auto;
    padding: 0 1rem;
}

.navbar__search-box{
    width: 20rem;
}

@media only screen and (max-width: 992.2px) {
    .navbar{
        position: sticky;
        top: 0;
        box-shadow: 0 0  5px 2px #444444;
    }
    .navbar__search-box{
        order: 1;
        width: 12rem;
    }

    .navbar__logo{
        order: 2;
    }

    @media only screen and (max-width: 768px) {
        .nav__lists{
            display: none;
        }
    }
