body.authentication {
    background-image: linear-gradient(to bottom right, rgb(54, 145, 247), #9bee52, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    background-repeat: no-repeat;
    height: 100vh;
    animation: back-gradient 10s ease-in-out infinite;
}

@keyframes back-gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}
.content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.main-container-small{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 30rem;
    width: 55rem;
    border-style: none;
    border-radius: 1.5rem;
}
div.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 60rem;
    width: 55rem;
    border-style: none;
    border-radius: 1.5rem;
}
span.blue {
    color: #337ed9;
}
.top-text {
    font-family: inherit;
    margin: 2rem 1.5rem;
    font-size: 2rem;
    font-weight: 700;
    color: #5e5e5e;
    position: relative;
    top: 2.5rem;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    border: none;
    border-bottom: 0.2rem solid #337ed9;
    border-radius: 0.3rem;
    padding: 2rem 0.5rem;
    width: 45rem;
    outline: none;
}

input::placeholder {
    font-size: 1.5rem;
    color: rgb(141, 141, 141);
    transition: all 300ms ease;
}
input:focus {
    border-bottom: 0.3rem solid #337ed9;
}
input:focus::placeholder {
    font-size: 1rem;
    color: #337ed9;
}
.authentication__btn {
    width: 45rem;
    height: 4rem;
    background-image: linear-gradient(to right, rgba(54, 145, 247, 1), rgba(54, 145, 247, 0.6));
    color: white;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
}

.authentication__btn:hover {
    background-image: linear-gradient(to left, rgba(54, 145, 247, 1), rgba(54, 145, 247, 0.6));
}

.authentication__fotoer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.authentication__fotoer  a:hover{
    color: #23a6d5;
}
.authentication__footer-text {
    color: black;
    padding-bottom: 0;
    margin-bottom: 0;
}
