.nav__lists {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 30;


}

.nav__list {
    position: relative;

    .nav__link {
        padding: 0 1.3rem;
        font-size: 1.8rem;
        transition: all 0.3s ease;
        width: 100%;
        position: relative;

        &::after {
            width: 0%;
            content: "";
            transition: width 500ms ease;
            background-color: $color-blue1;
            height: 0.3rem;
            position: absolute;
            bottom: -1rem;
            left: 0%;
            border-radius: 0.5rem;
        }

        &:hover::after {
            width: 100%;
            left: auto;
            right: 0;
        }

        .nav__arrow {
            position: absolute;
            top: 40%;
            left: 0;
            width: 0.7rem;
            height: 0.7rem;
            transition: transform 600ms ease;

            border: 0.2rem solid $color-gray;
            border-width: 0 1px 1px 0;
            transform: rotate(45deg);
        }

        &:hover>span {
            transform: rotate(225deg);
        }

        &:hover span {
            transform: rotate(225deg);
        }
    }

    &:hover>.nav__sublists1 {
        transform: scale(1);
    }
}

.nav__sublist {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    width: 20rem;
    background-color: white;
    border-top: 0.3rem solid $color-orange;
    border-radius: 0.3rem;
    box-shadow: 0 0 4px;
    transition: all 0.3s ease;
    transform: scale(0);
    transform-origin: top right;
    // sublist common codes

    & a {
        color: $color-gray;
    }

    & i {
        color: $color-blue1;
        margin-left: 0.5rem;
    }

    &>li {
        padding: 1.5rem 1rem;
        width: 100%;
        height: 100%;

        transition: all 0.3s ease;
    }
}

.nav__sublists1 {
    top: 5rem;
    right: 0;

    li:hover>a {
        color: $color-blue1;
    }
}


.nav__sublist1-item:hover,
.nav__sublist1:hover {
    background-color: $color-crummy;
    padding-right: 1.5rem;
}

.nav__sublist2-item:hover {
    background-color: $color-crummy;
    padding-right: 0.5rem;
}

// sublist2 ul
.nav__sublists2 {
    top: -0.1rem;
    right: calc(100% + 0.5rem);
    z-index: 100;
}





.nav__sublist1 {
    &:hover>ul {
        transform: scale(1);
    }

    & a:first-child {
        align-items: center;
    }

    & i:last-of-type {
        margin-right: auto;
    }
}

// maga menu
.nav__mega {
    position: static;

    &-content {
        position: absolute;
        top: 4rem;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 1rem;
        white-space: nowrap;
        border-top: 0.3rem solid $color-orange;
        border-radius: 0.3rem;
        box-shadow: 0 0 4px;
        background-image: conic-gradient(#98d6f3, #fea2b1, #f7f1fa, #98d6f3);
        transition: all 0.3s ease;
        transform: scale(1, 0);
        transform-origin: top;

        @media only screen and (min-width: 768px) and (max-width: 992px) {

            width: 68rem;

        }

        @media only screen and (min-width: 992px) and (max-width: 1200px) {

            width: 64rem;

        }

        & i {
            transition: transform 300ms ease;
        }

        & a:hover i {
            transform: rotate(360deg);
        }
    }

    &-column {
        align-items: center;
        flex-direction: column;

        & h4 {
            padding: 2rem;
            margin-bottom: 1rem;
            border-bottom: 0.3rem solid $color-orange;
            text-align: center;
        }

        .nav__mega-lists {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
        }

        & li {
            padding: 2rem 0.5rem;
        }

        & span:not(:first-child) {
            color: $color-gray;
            transition: color 300ms ease;
        }

        & a:hover,
        & span:not(:first-child):hover {
            color: $color-orange;
        }

    }

    &:hover>.nav__mega-content {
        transform: scale(1, 1);
    }
}




// burgermenu
.nav__burger-label {
    width: 4rem;
    height: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: column;
    user-select: none;
    cursor: pointer;
}

@media only screen and (min-width: 769px) {
    .nav__burger-label {
        display: none;
    }
}

.nav__burger-label>span {
    height: 0.5rem;
    border-radius: 0.5rem;
    background-color: $color-blue3;
    transition: all 300ms $cubic_bezier;
    animation: burger-menu-color 2s ease infinite alternate-reverse;
}

.nav__burger-label :nth-child(1) {
    width: 80%;
}

.nav__burger-label :nth-child(2) {
    width: 100%;
}

.nav__burger-label :nth-child(3) {
    width: 60%;
}

.nav__burger-checkbox:checked~.nav__burger-label :nth-child(1) {
    width: 50%;
    transform-origin: bottom;
    transform: rotate(45deg) translate(-1rem, 1.6rem);
}

.nav__burger-checkbox:checked+.nav__burger-label :nth-child(2) {
    width: 100%;
    transform: rotate(-45deg);
}

.nav__burger-checkbox:checked~.nav__burger-label :nth-child(3) {
    width: 50%;
    transform-origin: bottom;
    transform: rotate(45deg) translate(-0.6rem, -0.1rem);
}

.nav__burger-checkbox {
    display: none;
}

//  responsive

@media only screen and (max-width: 768px) {
    .nav__mobile-wrap {
        position: fixed;
        top: 9rem;
        right: 0;
        bottom: 0;
        left: 0;
        overflow-x: hidden;
        overflow-y: scroll;
        z-index: 100;
        display: none;
        width: 100vw;
        height: auto;
        background-color: $color-blue4;
    }


    .nav__lists {
        flex-direction: column;
        justify-content: flex-end;
    }

    .nav__sublist1-item,
    .nav__sublist2-item {
        margin-right: 1.5rem;
    }

    .nav__list {
        width: 100%;
        padding: 2rem 1rem;
    }

    .nav__list:not(:last-child) {
        border-bottom: 1px solid $color-gray2;
    }

    .nav__link {
        width: calc(100vw - 3rem);
    }

    .nav__burger-checkbox:checked~.nav__mobile-wrap {
        display: block;
    }


    .nav__sublist li:hover {
        background: initial;
    }

    .nav__arrow {
        display: none;
    }

    .nav__link {
        transition: all 0.3s ease;
    }

    .nav__link:hover {
        padding-right: 0.5rem;
    }

    .nav__sublist {
        top: 0;
    }

    .nav__sublists1 {
        padding-top: 1.5rem;
    }


    .nav__sublist1:hover {
        padding: 1.5rem 1rem;
    }

    .nav__sublist1 li {
        padding: 1.5rem 4rem;
    }

    .sublist1__else {
        display: none !important;
    }

    .nav__sublist,
    .nav__mega-content {
        // reset settings
        position: relative;
        display: none;
        right: 0;
        width: 100%;
        background: none;
        border: none;
        box-shadow: none;

    }

    .nav__list:hover .nav__mega-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .nav__mega-column:first-of-type {
        align-self: center;
        align-items: center;
    }

    .nav__mega-column {
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
    }

    .nav__list:hover .nav__sublists1,
    .sublist__else:hover .nav__sublists2 {
        display: block;

    }

    .nav__mega-column h4 {

        width: 100%;
        text-align: right;
        padding: 2rem 0rem;
        margin-bottom: 1rem;
        border-bottom: 0.3rem solid $color-orange;
    }


}