.sent__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60rem;
    height: 15rem;
    border: 0.1rem solid black;
}
.sent__container p{
    font-size: 5rem;
}