$base-path: '../';

$color-white : white;
$color-red :red;
$font-main: "vazir", "lalezar", Verdana, Geneva, Tahoma, sans-serif;

$color-blue1: #0d62da;

$color-blue2: #457b9d;

$color-blue3: #2196f3;

$color-blue4: #edfcff;

$color-gray: #3c4858;

$color-gray2: #ccc;

$color-gray3: #999999;

$color-orange: #e76f51;
$color-orange2: #d35400;
$color-orange3: #993e01;

$color-crummy: #f1f1f1;

$color-brown: #444444;
$color-green1: #d3f4f2;
$color-green2: #00d724;

$cubic_bezier: cubic-bezier(0.51, -0.38, 0.52, 1.54);